*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    height: 80px;
} 
.main-img-box{
    width: 100%;
    height: 500px;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2em;
    font-weight: 900;
}
.article-box{
    width: 100%;
    display: grid;
    margin-top: 50px;
    gap: 20px;
    grid-template: "empty-izq article-1 article-2 article-3 empty-der" 850px 
                    "empty-izq article-4 article-5 article-6 empty-der" 850px /
                    1fr        450px     450px      450px      1fr;
}
.article-1{
    grid-area: article-1;
    background-color: dodgerblue;
}
.article-2{
    grid-area: article-2;
    background-color: dodgerblue;
}
.article-3{
    grid-area: article-3;
    background-color: dodgerblue;
}
.article-4{
    grid-area: article-4;
    background-color: dodgerblue;
}
.article-5{
    grid-area: article-5;
    background-color: dodgerblue;
}
.article-6{
    grid-area: article-6;
    background-color: dodgerblue;
}
.img-article{
    background-color: darkblue;
    width: 100%;
    height: 300px;
}
.text-content{
    color: black;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
}

@media only screen and (max-width: 900px){
    .main-img-box{
        background-color: rgb(163, 159, 159);
    }
    .article-box{
        grid-template: 
        "empty-izq article-1 empty-der" 
        "empty-izq article-2 empty-der" 
        "empty-izq article-3 empty-der" 
        "empty-izq article-4 empty-der" 
        "empty-izq article-5 empty-der" 
        "empty-izq article-6 empty-der";
    }
}